.App {
  height: 100vh;
}

.Main {
  text-align: center;

  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  margin-top: -10px;
}

.Player {
  padding-top: 3em;
}

/* Time based themes */
.morning { 
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#73e3fc, #4a9fd9);
}

.noon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#ffe972, #dfa74b);
}

.afternoon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#f1a858, #da5b48);
}

.night {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#2c4f83, #072a51);
}

/* Settings Button */
.settingsBttn {
  background-color: #00000000;
  border: none;

  color: #eee;
  font-size: 1.5em;

  padding-top: 5px;
  padding-left: 5px;

  cursor: pointer;
}

.bottomNavBox {
  position: absolute;
  width: 100vw;
  bottom: 0px;
}

.bottomNav {
  border-radius: 10px 10px;
}

/* settingsPage styles */
.settingsCompDarkModeoff {
  background-image: linear-gradient(#eee, #fff);
  height: 60vh;

  padding-top: 20px;

  border-radius: 20px 20px 0px 0px;
}

.settingsCompDarkModeon {
  color: #c5c5c5;
  background-image: linear-gradient(#111, #000) !important;
  height: 60vh;

  padding-top: 20px;

  border-radius: 10px 10px;
}

/* Dark mode */
.darkModeon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#191919, #121212);
}
