.App {
  min-height: 100vh;
}

.Main {
  text-align: center;

  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  margin-top: -10px;
}


/* Time based themes */
.morning { 
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#73e3fc, #4a9fd9);
}

.noon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#ffe972, #dfa74b);
}

.afternoon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#f1a858, #da5b48);
}

.night {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
  linear-gradient(#2c4f83, #072a51);
}

/* Dark mode */
.darkModeon.morning {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
    linear-gradient(#0c434f, #021725);
}

.darkModeon.noon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
    linear-gradient(#eba600, #de7f01);
}

.darkModeon.afternoon {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
    linear-gradient(#7e5542, #893c30);
}

.darkModeon.night {
  background-image: url("https://cdn.ozx.me/ac/pattern_fallback.png"),
    linear-gradient(#09162b, #010a14);
}

.bottomNav {
  border-radius: 10px 10px;
  position: absolute;
  width: 100vw;
  bottom: 0px;
}
