/*  */
@font-face {
  font-family: 'RodinBokutohPro';
  src: url('https://cdn.ozx.me/fonts/Fontworks/Japanese/Gothic/RodinBokutohPro-EB.otf') format("opentype");
}

.Clock {
  color: #eee;
}

.ClockTime {
  font-size: 5em;
  font-weight: bold;
  margin: 0;

  line-height: 0.9;
}

.ClockPeriod {
  font-size: 1.7em;
  font-family: 'RodinBokutohPro';
  margin: 0;
}
