
@font-face {
  font-family: 'SeuratPro';
  font-weight: bold;
  src: url('https://cdn.ozx.me/fonts/Fontworks/Japanese/Round-Gothic/SeuratPro-B.otf') format("opentype");
}

body {
  margin: 0;

  font-family: "SeuratPro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.legalTxt {
  font-size: 10px;
  color: #888;
}

.legalTxt a {
  color: #333;
}